* {
	
	font-family: 'Amaranth', sans-serif;
}

body {
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	height: 110px;
	width: 100%;
}

.name-container {
	width: 75%;
	align-self: flex-end;
	margin-right: 10px;
	text-align: right;
}

.name {
	color: #2d3c49;
	font-size: 2.7em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.logo {
	width: 25%;
}
.logo > img {
	height: 110px;
}

.name-subtitle {
	margin-top: 0px;
	font-size: 1.6em;
}

.header-body-divider {
	height: 2.5px;
	width: 100%;
	background-color: #7d97ad;
}

.tech-image {
	height: 765px;
	width: 100%;
}

@media only screen and (max-width: 600px) {
    .tech-image {
    	height: 350px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .tech-image {
    	height: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .tech-image {
    	height: 500px;
    }

    body {
    	width: 1200px;
    	margin-left: auto;
    	margin-right: auto;
    }
}

.section-heading {
	font-size: 2.5em;
	color: #7d97ad;
}

.featured-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.project-box {
	max-width: 100%;
	min-width: 33.33%;
	text-align: center;
}

.project-box > img {
	width: 350px;
	height: 150px;
	border-radius: 25px;
}

.project-box > h2 {
	margin: 0px;
}

.project-box > p {
	margin-top: 0px;
}

.footer-box {
	display: flex;
	left: 0;
	bottom: 0;
	background-color: #02b3e4;
	height: 50px;
	width: 100%;
	margin: 0px;

}
