* {
	
	font-family: 'Amaranth', sans-serif;
}

body {
	padding: 5px;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	height: 110px;
	width: 100%;
}

.name-container {
	width: 75%;
	align-self: flex-end;
	margin-right: 10px;
	text-align: right;
}

.name {
	color: #2d3c49;
	font-size: 2.7em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.logo {
	width: 25%;
}
.logo > img {
	height: 110px;
}

.name-subtitle {
	margin-top: 0px;
	font-size: 1.6em;
}

.header-body-divider {
	height: 2.5px;
	width: 100%;
	background-color: #7d97ad;
}

.tech-image {
	height: 765px;
	width: 100%;
}

.featured-work-heading {
	font-size: 2.5em;
	color: #7d97ad;
}

.featured-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.project-box {
	max-width: 100%;
	min-width: 33.33%;
	text-align: center;
}

.project-box > img {
	width: 350px;
	height: 150px;
	border-radius: 25px;
}

.project-box > h2 {
	margin: 0px;
}

.project-link > p {
	margin-top: 0px;
}

